@import url('https://fonts.googleapis.com/css2?family=Sniglet:wght@400;800&display=swap');
@import "tailwindcss";





body {

    font-optical-sizing: auto;
    font-style: normal;
}
html,
* {
  scroll-behavior: smooth;
}

[id] {
  scroll-margin-top: 80px;
}
* {
font-family: "Sniglet", system-ui;
  font-style: normal;
}

.georgia {
font-family: "Fresca", sans-serif;
}
/* .footer a:hover {
  color: #4545ff;
  
  .contact a:hover {
    color: rgb(69, 69, 255);
}
*/
#map-container {
  height: 100%;
    width: 100%;
      /* temporarily set the background color so we can tell where the map container is positioned */
      background-color: lightgrey;
    }
 .dark footer a:hover {
  color: #efe1cd;
  transform: scale(1.1);
    text-decoration: underline;
    text-decoration-color: #efe1cd;
 }

 .light footer a:hover {
  color: #50391e;

text-decoration: underline;
  text-decoration-color: #50391e;
 }

 .dark nav a:hover {
  color: #efe1cd;
text-decoration: underline;
    text-decoration-color: #efe1cd;
 }

 .light nav a:hover {
  color: #50391e;
text-decoration: underline;
  text-decoration-color: #50391e;
}
    .sidebar {
  background-color: rgb(35 55 75 / 90%);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
    top: 0;
      left: 0;
  margin: 12px;
    border-radius: 4px;
    }
    
    .reset-button {
      position: absolute;
      top: 50px;
      z-index: 1;
      left: 12px;
      padding: 4px 10px;
  border-radius: 10px;
  cursor: pointer;
}

#root {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}