@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  
  background: var(--background);
  color: var(--foreground);
  font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
* {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.georgia {
/* color: #542b00; */
  font-family: "Georgia", sans-serif !important;
}
/* .footer a:hover {
  color: #4545ff;
  
  .contact a:hover {
    color: rgb(69, 69, 255);
}
*/
#map-container {
  height: 100%;
    width: 100%;
      /* temporarily set the background color so we can tell where the map container is positioned */
      background-color: lightgrey;
    }
 .dark footer a:hover {
   color: #ffcc98;
   text-decoration-color: #ffcc98;
 }

 .light footer a:hover {
   color: #542b00;

   text-decoration-color: #542b00;
 }

 .dark nav a:hover {
   color: #ffcc98;
   text-decoration-color: #ffcc98;
 }

 .light nav a:hover {
   color: #542b00;

   text-decoration-color: #542b00;
 }
  
    .sidebar {
  background-color: rgb(35 55 75 / 90%);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
    top: 0;
      left: 0;
  margin: 12px;
    border-radius: 4px;
    }
    
    .reset-button {
      position: absolute;
      top: 50px;
      z-index: 1;
      left: 12px;
      padding: 4px 10px;
  border-radius: 10px;
  cursor: pointer;
}

#root {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}